body {
  background-color: #444;
  background-image: url(cff8e2c4f02b1862f3e4a2bc89993cdb.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.button {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em; }

