.sidenav {
    background: linear-gradient(to bottom, #3f51b3dd, #3f51b3);
    width: 200px;    
}

.sidenav a {
    color: #fff;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;    
    background-color: #0000;    
}

.container {        
    background-color: #0000;
    
}